@model IEnumerable<ERP.Project.Data.Models.ItemStatus>
@using ERP.Project.Data.Models;

@{
    ViewBag.Title = "ItemStatusView";
}

<h2>Item Status</h2>
<div>
    @using (Html.BeginForm("ItemStatusView", "ItemStatus"))
    {
        <table>
            <tr>
                <td>Item Status Name &nbsp;</td>
                <td>@Html.TextBox("ItemStatusName", null, new { @class = "form-control" })</td>
                <td>@Html.DropDownList("ColorCode", (IEnumerable<SelectListItem>)ViewBag.ColorCode, "--Color Code-- ", new { @class = "form-control" })</td>
                <td><input class="btn btn-success" type="submit" value="Add" /></td>
            </tr>
        </table>
       
    }
</div>
<br />
<div style="width:400px;">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Item Status Name </th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ItemStatusId)</td>
                    <td style="background-color:@Html.DisplayFor(modelItem => item.ColorCode)">@Html.DisplayFor(modelItem => item.ItemStatusName)</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ItemStatusId }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ItemStatusId})
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

